{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}

    <p><div class="d-flex justify-content-between">Hi {{ user.username }}! You are {{ user.age }} years old. <a href="{% url 'logout' %}">Log Out</a></div></p>


    
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}


<!-- articles -->

{% for article in article_list %}
<div class="card">
    <div class="card-header">
        <span class="font-weight-bold">{{ article.title }}</span> &middot;
        <span class="text-muted">by {{ article.author }} |
        {{ article.date }} </span>
    </div>
    <div class="card-body">
        <p>{{ article.body }}</p>
        <a href="{% url 'article_edit' article.pk %}">Edit</a> | <a href="{% url 'article_delete' article.pk %}">Delete</a>
    </div>
    <div class="card-footer">
        {% for comment in article.comment_set.all %}
            <p>
                <span class="font-weight-bold">
                    {{ comment.author }} &middot;
                </span>
                {{ comment }}
            </p>
        {% endfor %}
    </div>
</div>
<br />
{% endfor %}
{% endblock content %}
